<!doctype html>

<html>
<head>
    <title>Adicionar Pokémon</title>
</head>

<body>

<h1>Adicionar Pokémon</h1>

<form method="POST">

    <p>
        <label>Nome do Pokemon:</label><br>
        <input type="text" name="name">
    </p>

    <p>
        <label>Tipo do Pokemon:</label><br>
        <input type="text" name="type">
    </p>

    <p>
        <label>Nível do Pokemon:</label><br>
        <input type="number" name="level">
    </p>

    <p>
        <label>Poder do Pokemon:</label><br>
        <input type="text" name="power">
    </p>

    <button type="submit">Salvar Pokémon</button>

</form>

<p>
    <a href="/">Voltar</a>
</p>

</body>
</html>